<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ez.mapper.BoardMapper">
<!-- 	게시글 가져오기 -->
	<select id="getList" resultType="com.ez.domain.BoardVO">
		SELECT BNO
			   , TITLE								AS TITLE
			   , CONTENT							AS CONTENT
			   , REG_ID								AS REG_ID
			   , TO_CHAR(REG_DT, 'YYYY-MM-DD')		AS REG_DT
			   , REG_IP								AS REG_IP
			   , MOD_ID								AS MOD_ID
			   , TO_CHAR(MOD_DT, 'YYYY-MM-DD')		AS MOD_DT
			   , MOD_IP 							AS MOD_IP
		  FROM TBL_BOARD
		 WHERE BNO <![CDATA[>]]> 0
	</select>
	
	<insert id="registerAction">
		<selectKey keyProperty="BNO" order="BEFORE" resultType="long">
			SELECT SEQ_BOARD.NEXTVAL FROM DUAL
		</selectKey>
		
		INSERT INTO TBL_BOARD
		(
			BNO
			, TITLE
			, CONTENT
			, REG_ID
			, MOD_ID
		) VALUES (
			#{BNO}
			, #{TITLE}
			, #{CONTENT}
			, #{REG_ID}
			, #{REG_ID}
		)
	</insert>
</mapper>